/* ================== DASAR ================== */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* ================== NAVBAR ================== */

.navbar {
    background-color: #222;
    color: white;
    padding: 10px;
}

.logo {
    display: inline-block; /* biar logonya bisa sejajar sama menu di kanan */
    margin: 0;
}

.logo span {
    color: #00bcd4;
}

.menu {
    float: right; /* Biar menu dinavigasinya rata kanan*/
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.menu a:hover {
    color: #00bcd4;
}

/* ================== HEADER ================== */

.header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 50px 10px;
}

.header span {
    color: #00bcd4;
}

.btn {
    display: inline-block; /* Biar tombol bisa dikasih padding dan bentuknya fleksibel */
    background-color: #00bcd4;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px; /* Sudut tombol sedikit melengkung biar nggak kaku */
}

.btn:hover {
    background-color: #0199ac;
}

/* ================== SECTION ================== */

.section {
    padding: 30px 15px;
    text-align: center;
}

/* ================== PROJECT ================== */

.project {
    background-color: white;
    margin: 10px auto; /* Menengahkan kotak proyek di tengah halaman */
    padding: 15px;
    width: 80%; /* biar kotaknya ga terlalu lebar */
    border-radius: 5px;
    box-shadow: 0 0 5px gray; /* Efek bayangan biar keliatan timbul */
}

.project h3 {
    color: #00bcd4;
}

/* ================== CONTACT ================== */

.section a {
    color: #00bcd4;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

/* ================== FOOTER ================== */

.footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 10px;
    margin-top: 20px; /* Ngasih jarak footer dan bagian di atasnya */
}
